<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3">
            <div class="navbar-header">Workouts</div>
          </div>
          <div class="col-sm-8"></div>
          <div class="col-sm-1">
            <button type="button" class="btn btn-info navbar-btn btn-xs"><%= link_to "Log Out", log_out_path %></button>
          </div>
        </div>
    </div>
</nav>
<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row header">
      <div class="col-sm-1"></div>
      <div class="col-sm-5"><%= @video.name %></div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">AKA: <%= @video.abbreviated_name %></div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">Category: <%= @video.category %></div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">Core Muscles Worked: <%= @video.core_muscles_worked %></div>
    </div>
  </br>
    <div class="row">
      <div class="col-sm-1"></div>
       <div class="col-sm-6"><strong>Notes: </strong><%= @video.notes %></div>
    </div>
</div>

</br>
<div class ="container">  
  <div class="row">
    <div class="col-sm-1"></div>
    <div class ="col-sm-5">
      <button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_video_path(@video) %></button>
      <button type="button" class="btn btn-primary"><%= link_to 'Back', videos_path %></button>
      <button type="button" class="btn btn-primary"><%= link_to 'Muscles Worked Chart',charts_videos_path %></button>
  </div>
</div>
