<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3">
            <div class="navbar-header">Workouts</div>
          </div>
          <div class="col-sm-8"></div>
          <div class="col-sm-1">
            <button type="button" class="btn btn-info navbar-btn btn-xs"><%= link_to "Log Out", log_out_path %></button>
          </div>
        </div>
    </div>
</nav>
<div class ="container">
	<div class ="row">
		<div class='col-sm-12'>
            <p class='pull-right'>
                <a href='#' id='show-form' class='btn btn-info'>Add a Workout</a>
            </p>
        </div>
    </div>

  <hr>

    <div class='col-sm-12 workout-form'>
        <p>
            <%= form_for(Workout.new, remote: true,
                       html: { class: 'horizontal-form' }) do |f| %>
              <legend>New Workout</legend>

                <div class='col-sm-5'>
                    <div class="form-group">
                        <%= f.label :date_completed %><br />
                        <%= f.date_select :date_completed %>
                     </div>
                    <div class='form-group'>
                      <%= f.label :name %><br />
    				          <%= f.collection_select :video_id, Video.all, :id, :name %>
                    </div>
                    <div class='form-group'>
                      <%= f.submit class: 'btn btn-primary' %>
                    </div>
                </div>
            <% end %>
        </p>
  </div>
  <% if logged_in? %> 
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 blue">
              <h3>
                Hello, <%= current_user.name %>
              </h3>
      </div>
    </div>
    </br>
  	<div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 blue"><h3>Workouts</h3></div>
    </div>
    <div class="row">	
  		<div class="col-sm-2"></div>
  		<div class="col-sm-8 boxed">
  				<div class="row header">
  					<div class="col-sm-4">date completed</div>
  					<div class="col-sm-5">Name</div>
  					<div class="col-sm-3">Time</div>
  				</div>
          <div class="workout-list">
             <%= render @workouts %>
          </div>
          <div class = "row highlight">
              <div class="col-sm-4"></div>
              <div class="col-sm-5">Total:</div>
              <div class="col-sm-3"><%= @totals %> minutes</div>
          </div>
      </div>
      <div class="col-sm-2">
          <div class="row">
              <div class="col-sm-12">
                <strong>Filter by Date</strong>
              </div>
              <div class="col-sm-12">
                <% @date_ranges.each do |range| %>
                  <li>
                    <%= link_to "last #{range} days", workouts_path(date_filter: range), class: 'label label-primary' %>
                  </li>
                <% end %>
                  <li>
                    <%= link_to "All", workouts_path, class: 'label label-primary' %>
                  </li>
              </div>
          </div>
      </div>
    </div> 
    </br>  
  <div class="row">
    <div class ="col-sm-8 pull-right">
       <button type="button" class="btn btn-primary"><%= link_to 'Video List', videos_path %></button>
      <button type="button" class="btn btn-primary"><%= link_to 'Workout Charts',charts_programs_path %></button>
       <button type="button" class="btn btn-primary"><%= link_to 'Workout Recommender',recommendations_videos_path %></button>
    </div>
  </div>
  <% else %>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-8"><em>You must be <strong><%= link_to "logged in", log_in_path %></strong> to see this page.</em></div>
  <% end %>
</div>


