
<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :abbreviated_name %><br />
        <%= f.text_field :abbreviated_name %>
      </div>
      <div class="field">
        <%= f.label :category %><br />
        <%= f.text_field :category %>
      </div>
      <div class="field">
        <%= f.label :core_muscles_worked %><br />
        <%= f.text_field :core_muscles_worked %>
      </div>
      <div class="field">
        <%= f.label :length %><br />
        <%= f.number_field :length %>
      </div>
      <div class="field">
        <%= f.label :notes %><br />
        <%= f.text_area :notes, :cols => 40, :rows => 5 %>
      </div>
      <div class="field">
          <%= f.label :program %><br />
          <%= f.collection_select :program_id, Program.all, :id, :name %>
      <div class="actions">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
  </div>
</div>
<% end %>
